* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: input;
}

:root {
	font-size: clamp(40%, 1% +2vw, 62.5%);

    --hue: 270;
    --bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 97%, 85%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
    --button-secondary: hsl(var(--hue), 40%, 98%);

    --tt-main: "Roboto Slab", serif;
}


html.light {
    --bg-color: hsl(var(--hue), 40%, 98%);
    --text-color: hsl(var(--hue), 5%, 7%);
    --controls-bg-color: hsl(var(--hue), 0%, 14%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: clamp(2rem, 1.143rem + 2.286vw, 3.2rem);
    line-height: 0;

    color: var(--text-color);
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    height: 100vh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
}

.flex {
    display: flex;
}

#timer {
    /* font-size: 9.6rem; */

    font-size: clamp(6.5rem, 4.286rem + 5.905vw, 9.6rem);
    font-family: var(--tt-main);
    font-weight: bold;

}

#controls {
    margin-top: 1.6rem;

    padding-top: clamp(1.2rem, 0.629rem + 1.524vw, 2rem);
    padding-bottom: clamp(1.2rem, 0.629rem + 1.524vw, 2rem);

    padding-left: clamp(2rem, 0.571rem + 3.81vw, 4rem);
    padding-right: clamp(2rem, 0.571rem + 3.81vw, 4rem);

    gap: 1.6rem;
    background-color: var(--controls-bg-color);
    border-radius: 999rem;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);

    cursor: pointer;

    /* font-size: 6.4rem; */
    font-size: clamp(2.5rem, 1.786rem + 1.905vw, 3.5rem);
}

.secondary {
    color: var(--button-secondary);
}

/* controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-x,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high {
    display: none;
}